<main class="grow pt-5" id="content" role="content">

	<!-- Container -->
	<div class="kt-container-fixed">
		<div class="flex flex-wrap items-center lg:items-end justify-between gap-5 pb-7.5">
			<div class="flex flex-col justify-center gap-2">
				<h1 class="text-xl font-medium leading-none text-mono">
					Dashboard
				</h1>
				<div class="flex items-center gap-2 text-sm font-normal text-secondary-foreground">
					Central Hub for Personal Customization
				</div>
			</div>
			<div class="flex items-center gap-2.5">
				<a class="kt-btn kt-btn-outline" href="html/demo1/public-profile/profiles/default.html">
					View Profile
				</a>
			</div>
		</div>
	</div>

	<div class="kt-container-fixed">
		<p>Hello world!</p>
	</div>

</main>