<app-theme-toggle></app-theme-toggle>

<!-- Page -->
<!-- Main -->
<div class="flex grow flex-col in-data-kt-[sticky-header=on]:pt-(--header-height-default)">
    <app-header></app-header>

    <!-- Toolbar -->
    <app-toolbar></app-toolbar>
    <!-- End of Toolbar -->

    <!-- Content -->
    <main class="grow" id="content" role="content">
        <!-- Container -->
        <div class="kt-container-fixed" id="contentContainer">
            <router-outlet></router-outlet>
        </div>
        <!-- End of Container -->
    </main>
    <!-- End of Content -->

    <app-footer></app-footer>
</div>
<!-- End of Main -->
<!-- End of Page -->

