@inherits LayoutComponentBase
@inject IJSRuntime JS

<div class="flex grow">
<Sidebar />
<div class="wrapper flex grow flex-col">
    <Header />
    <main class="grow content pt-5" id="content" role="content">
        <div class="container-fixed">
            @Body
        </div>
    </main>
    <Footer />
</div>
<SearchModal />
</div>

@code {
    protected override void OnAfterRender(bool firstRender){
        JS.InvokeVoidAsync("KTComponent.init");
        JS.InvokeVoidAsync("KTLayout.init");
    }
}
