<app-theme-toggle></app-theme-toggle>

<!-- Page -->
<!-- Main -->
<div class="flex grow flex-col in-data-kt-[sticky-header=on]:pt-(--header-height)">
	<app-header></app-header>

	<app-navbar></app-navbar>

	<!-- Wrapper Container -->
	<div class="container-fixed w-full flex px-0">
		<!-- Content -->
		<main class="flex flex-col grow" id="content" role="content">
			<!-- Toolbar -->
			<app-toolbar></app-toolbar>
			<!-- End of Toolbar -->
			<!-- Container -->
			<div class="kt-container-fixed">
				@yield('content')
			</div>
			<!-- End of Container -->
			<!-- Footer -->
			<app-footer></app-footer>
			<!-- End of Footer -->
		</main>
		<!-- End of Content -->


	</div>
	<!-- End of Page -->

	@include('layouts.partials.scripts')

	@yield('scripts')