
   <!-- Header -->
   <header class="flex items-center transition-[height] shrink-0 bg-background h-(--header-height)" data-kt-sticky="true" data-kt-sticky-class="transition-[height] fixed z-10 top-0 left-0 right-0 backdrop-blur-md bg-background/70 border-b border-border" data-kt-sticky-name="header" data-kt-sticky-offset="200px" id="header">
    <!-- Container -->
    <div class="kt-container-fixed flex justify-between items-center lg:gap-4" id="headerContainer">
		{% include 'demo2/partials/_logo.html' %}
		{% include 'demo2/partials/_topbar.html' %}
    </div>
    <!-- End of Container -->
   </header>
   <!-- End of Header -->