<!-- Navbar -->
<div class="border-b border-border pb-5 lg:pb-0 mb-5 lg:mb-10">
 <!-- Container -->
 <div class="kt-container-fixed flex justify-between items-center gap-2">
  <div class="grid">
   <div class="kt-scrollable-x-auto">
    <div class="kt-menu gap-5 lg:gap-7.5" data-kt-menu="true">
     <div class="kt-menu-item border-b-2 border-b-transparent kt-menu-item-active:border-b-mono kt-menu-item-here:border-b-mono" data-kt-menu-item-placement="bottom-start" data-kt-menu-item-placement-rtl="bottom-end" data-kt-menu-item-toggle="dropdown" data-kt-menu-item-trigger="click|lg:hover">
      <div class="kt-menu-link gap-1.5 pb-2 lg:pb-4" tabindex="0">
       <span class="kt-menu-title text-nowrap text-sm text-foreground kt-menu-item-active:text-mono kt-menu-item-active:font-medium kt-menu-item-here:text-mono kt-menu-item-here:font-medium">
        Public Profile
       </span>
      </div>
     </div>
     <div class="kt-menu-item border-b-2 border-b-transparent kt-menu-item-active:border-b-mono kt-menu-item-here:border-b-mono" data-kt-menu-item-placement="bottom-start" data-kt-menu-item-placement-rtl="bottom-end" data-kt-menu-item-toggle="dropdown" data-kt-menu-item-trigger="click|lg:hover">
      <div class="kt-menu-link gap-1.5 pb-2 lg:pb-4" tabindex="0">
       <span class="kt-menu-title text-nowrap text-sm text-foreground kt-menu-item-active:text-mono kt-menu-item-active:font-medium kt-menu-item-here:text-mono kt-menu-item-here:font-medium">
        My Account
       </span>
       <span class="kt-menu-arrow flex lg:hidden">
        <i class="ki-filled ki-plus text-2xs kt-menu-item-show:hidden"></i>
        <i class="ki-filled ki-minus text-2xs hidden kt-menu-item-show:inline-flex"></i>
       </span>
      </div>
      <div class="kt-menu-dropdown flex-col gap-0 w-full lg:max-w-[875px]">
       <div class="kt-menu-item">
        <div class="kt-menu-content pt-6 pb-2 px-3 lg:p-8">
         <div class="grid lg:grid-cols-2 gap-5 lg:gap-10">
          <div class="flex flex-col">
           <h3 class="text-sm text-mono font-semibold leading-none pl-2.5 mb-2 lg:mb-5">
            Account Home
           </h3>
           <div class="grid grid-cols-1 lg:grid-cols-1 gap-2.5">
            <a class="kt-menu-link border border-transparent kt-menu-link-hover:!bg-light kt-menu-link-hover:border-border rounded-lg px-2.5 py-2.5" href="#">
             <span class="kt-menu-icon">
              <i class="ki-filled ki-coffee text-lg"></i>
             </span>
             <span class="kt-menu-info">
              <span class="kt-menu-title text-sm text-mono font-medium">
               Get Started
              </span>
              <span class="kt-menu-description text-xs text-secondary-foreground">
               Account setup and configuration
              </span>
             </span>
            </a>
           </div>
          </div>
          <div class="flex flex-col">
           <h3 class="text-sm text-mono font-semibold leading-none pl-2.5 mb-2 lg:mb-5">
            Account Settings
           </h3>
           <div class="grid grid-cols-1 lg:grid-cols-1 gap-2.5">
            <a class="kt-menu-link border border-transparent kt-menu-link-hover:!bg-light kt-menu-link-hover:border-border rounded-lg px-2.5 py-2.5" href="#">
             <span class="kt-menu-icon">
              <i class="ki-filled ki-profile-circle text-lg"></i>
             </span>
             <span class="kt-menu-info">
              <span class="kt-menu-title text-sm text-mono font-medium">
               Personal Information
              </span>
              <span class="kt-menu-description text-xs text-secondary-foreground">
               Manage your personal information
              </span>
             </span>
            </a>
            <a class="kt-menu-link border border-transparent kt-menu-link-hover:!bg-light kt-menu-link-hover:border-border rounded-lg px-2.5 py-2.5" href="#">
             <span class="kt-menu-icon">
              <i class="ki-filled ki-badge text-lg"></i>
             </span>
             <span class="kt-menu-info">
              <span class="kt-menu-title text-sm text-mono font-medium">
               Account Security
              </span>
              <span class="kt-menu-description text-xs text-secondary-foreground">
               Configure security settings
              </span>
             </span>
            </a>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
     <div class="kt-menu-item border-b-2 border-b-transparent kt-menu-item-active:border-b-mono kt-menu-item-here:border-b-mono">
      <a class="kt-menu-link gap-1.5 pb-2 lg:pb-4" href="#" tabindex="0">
       <span class="kt-menu-title text-nowrap text-sm text-foreground kt-menu-item-active:text-mono kt-menu-item-active:font-medium kt-menu-item-here:text-mono kt-menu-item-here:font-medium">
        Security
       </span>
      </a>
     </div>
     <div class="kt-menu-item border-b-2 border-b-transparent kt-menu-item-active:border-b-mono kt-menu-item-here:border-b-mono">
      <a class="kt-menu-link gap-1.5 pb-2 lg:pb-4" href="#" tabindex="0">
       <span class="kt-menu-title text-nowrap text-sm text-foreground kt-menu-item-active:text-mono kt-menu-item-active:font-medium kt-menu-item-here:text-mono kt-menu-item-here:font-medium">
        Members & Roles
       </span>
      </a>
     </div>
     <div class="kt-menu-item border-b-2 border-b-transparent kt-menu-item-active:border-b-mono kt-menu-item-here:border-b-mono">
      <a class="kt-menu-link gap-1.5 pb-2 lg:pb-4" href="#" tabindex="0">
       <span class="kt-menu-title text-nowrap text-sm text-foreground kt-menu-item-active:text-mono kt-menu-item-active:font-medium kt-menu-item-here:text-mono kt-menu-item-here:font-medium">
        Billing
       </span>
      </a>
     </div>
    </div>
   </div>
  </div>
 </div>
 <!-- End of Container -->
</div>
<!-- End of Navbar -->