<app-theme-toggle></app-theme-toggle>

<!-- Page -->
<div class="flex grow">
	<!-- Header -->
	<app-header></app-header>
	<!-- End of Header -->
	<!-- Wrapper -->
	<div class="flex flex-col lg:flex-row grow pt-(--header-height) lg:pt-0">
		<!-- Sidebar -->
		<app-sidebar></app-sidebar>
		<!-- End of Sidebar -->
		<!-- Main -->
		<div class="flex flex-col grow lg:rounded-l-xl bg-background border border-input lg:ms-(--sidebar-width)">
			<div class="flex flex-col grow kt-scrollable-y-auto lg:[--kt-scrollbar-width:auto] pt-5" id="scrollable_content">
				<main class="grow" role="content">
					<!-- Toolbar -->
					<app-toolbar></app-toolbar>
					<!-- End of Toolbar -->
					<!-- Container -->
					<div class="kt-container-fixed">
						@yield('content')
					</div>
					<!-- End of Container -->
				</main>
				<!-- Footer -->
				<app-footer></app-footer>
				<!-- End of Footer -->
			</div>
		</div>
		<!-- End of Main -->
	</div>
	<!-- End of Wrapper -->
</div>
<!-- End of Page -->

@include('layouts.partials.scripts')

@yield('scripts')